.basket {
  width: calc(300 / 14.4 * 1vw);
  height: min-content;
  padding-top: calc(24 / 14.4 * 1vw);
  padding-left: calc(16 / 14.4 * 1vw);
  padding-right: calc(16 / 14.4 * 1vw);
  padding-bottom: calc(24 / 14.4 * 1vw);
  background-color: white;
  border-radius: calc(18 / 14.4 * 1vw);
  margin-top: calc(72 / 14.4 * 1vw);
}

.basket > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(129 / 14.4 * 1vw);
}

.basket > div:first-child > h1 {
  font-family: Nunito, sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(24 / 14.4 * 1vw);
  color: black;
}

.basket > div:first-child > p {
  padding: calc(2 / 14.4 * 1vw) calc(17 / 14.4 * 1vw);
  background-color: #f2f2f3;
  border-radius: calc(6 / 14.4 * 1vw);
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: black;
}

.basketWrapper {
  display: flex;
  flex-direction: column;
  margin-top: calc(12 / 14.4 * 1vw);
}

.basketCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(15 / 14.4 * 1vw) 0;
  border-bottom: calc(1 / 14.4 * 1vw) solid #f2f2f3;
  border-top: calc(1 / 14.4 * 1vw) solid #f2f2f3;
}

.basketCard > div:first-child {
  display: flex;
  gap: calc(6 / 14.4 * 1vw);
}

.basketCard > div:first-child > img {
  width: calc(64 / 14.4 * 1vw);
  height: calc(52 / 14.4 * 1vw);
  border-radius: calc(8 / 14.4 * 1vw);
}

.basketCard > div:first-child > p {
  display: flex;
  flex-direction: column;
}

.productName {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
}

.productMass {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #b1b1b1;
  margin-top: calc(1 / 14.4 * 1vw);
  margin-bottom: calc(6 / 14.4 * 1vw);
}

.productPrice {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
}

.basketCard > div:last-child {
  display: flex;
  padding: calc(9 / 14.4 * 1vw) calc(12 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  background-color: #f2f2f3;
  align-items: center;
  justify-content: center;
  gap: calc(18 / 14.4 * 1vw);
  height: calc(40 / 14.4 * 1vw);
}

.basketCard > div:last-child > button {
  background-color: inherit;
  border: none;
  height: 100%;
  width: calc(12 / 14.4 * 1vw);
}

.allPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(16 / 14.4 * 1vw);
  margin-bottom: calc(24 / 14.4 * 1vw);
}

.allPrice > span:first-child {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(21 / 14.4 * 1vw);
}

.allPrice > span:last-child {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(21 / 14.4 * 1vw);
}

.buyButton {
  width: 100%;
  height: calc(40 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  background-color: #ff7020;
  border: none;
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delivery {
  display: flex;
  align-items: center;
  margin-top: calc(8 / 14.4 * 1vw);
  gap: calc(8 / 14.4 * 1vw);
}

.delivery > img {
  width: calc(24 / 14.4 * 1vw);
  height: calc(24 / 14.4 * 1vw);
}

.delivery > p {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: black;
}

.empty {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(21 / 14.4 * 1vw);
  color: black;
}

.closeBasket {
  display: none;
}

.basketCard > button {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(22 / 14.4 * 1vw);
}

.basketCard > p {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(22 / 14.4 * 1vw);
}

@media only screen and (max-width: 1024px) {
  .basket {
    width: calc(300 / 10.24 * 1vw);
    padding-top: calc(24 / 10.24 * 1vw);
    padding-left: calc(16 / 10.24 * 1vw);
    padding-right: calc(16 / 10.24 * 1vw);
    padding-bottom: calc(24 / 10.24 * 1vw);
    border-radius: calc(18 / 10.24 * 1vw);
    margin-top: calc(72 / 10.24 * 1vw);
  }

  .basket > div:first-child {
    gap: calc(129 / 10.24 * 1vw);
  }

  .basket > div:first-child > h1 {
    font-size: calc(24 / 10.24 * 1vw);
    line-height: calc(24 / 10.24 * 1vw);
  }

  .basket > div:first-child > p {
    padding: calc(2 / 10.24 * 1vw) calc(17 / 10.24 * 1vw);
    border-radius: calc(6 / 10.24 * 1vw);
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .basketWrapper {
    margin-top: calc(12 / 10.24 * 1vw);
  }

  .basketCard {
    padding: calc(15 / 10.24 * 1vw) 0;
    border-bottom: calc(1 / 10.24 * 1vw) solid #f2f2f3;
    border-top: calc(1 / 10.24 * 1vw) solid #f2f2f3;
  }

  .basketCard > div:first-child {
    gap: calc(6 / 10.24 * 1vw);
  }

  .basketCard > div:first-child > img {
    width: calc(64 / 10.24 * 1vw);
    height: calc(52 / 10.24 * 1vw);
    border-radius: calc(8 / 10.24 * 1vw);
  }

  .productName {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .productMass {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
    margin-top: calc(1 / 10.24 * 1vw);
    margin-bottom: calc(6 / 10.24 * 1vw);
  }

  .productPrice {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .basketCard > div:last-child {
    padding: calc(9 / 10.24 * 1vw) calc(12 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    gap: calc(18 / 10.24 * 1vw);
    height: calc(40 / 10.24 * 1vw);
  }

  .basketCard > div:last-child > button {
    width: calc(12 / 10.24 * 1vw);
  }

  .allPrice {
    margin-top: calc(16 / 10.24 * 1vw);
    margin-bottom: calc(24 / 10.24 * 1vw);
  }

  .allPrice > span:first-child {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(21 / 10.24 * 1vw);
  }

  .allPrice > span:last-child {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(21 / 10.24 * 1vw);
  }

  .buyButton {
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .delivery {
    margin-top: calc(8 / 10.24 * 1vw);
    gap: calc(8 / 10.24 * 1vw);
  }

  .delivery > img {
    width: calc(24 / 10.24 * 1vw);
    height: calc(24 / 10.24 * 1vw);
  }

  .delivery > p {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .empty {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(21 / 10.24 * 1vw);
  }

  .basketCard > button {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(22 / 10.24 * 1vw);
  }

  .basketCard > p {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(22 / 10.24 * 1vw);
  }
}

@media only screen and (max-width: 768px) {
  .position {
    height: calc(48 / 7.68 * 1vw);
  }

  .closeBasket {
    display: flex;
    position: absolute;
    right: calc(10 / 7.68 * 1vw) !important;
    font-family: Nunito, sans-serif;
    font-size: calc(10 / 7.68 * 1vw) !important;
    font-weight: 400;
    line-height: calc(13 / 7.68 * 1vw) !important;
    color: #b1b1b1 !important;
    z-index: 12;
  }

  .basket {
    width: calc(145 / 7.68 * 1vw);
    padding-top: calc(16 / 7.68 * 1vw);
    padding-left: calc(10 / 7.68 * 1vw);
    padding-right: calc(10 / 7.68 * 1vw);
    padding-bottom: calc(16 / 7.68 * 1vw);
    border-radius: calc(12 / 7.68 * 1vw);
    margin-top: calc(0 / 7.68 * 1vw);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px calc(10 / 7.68 * 1vw) 0px #00000029;
  }

  .absolute {
    position: absolute;
  }

  .position {
    position: relative;
  }

  .basket > div:first-child {
    gap: calc(0 / 7.68 * 1vw);
    justify-content: space-between;
  }

  .basket > div:first-child > h1 {
    font-size: calc(16 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .basket > div:first-child > p {
    padding: calc(1 / 7.68 * 1vw) calc(13 / 7.68 * 1vw);
    border-radius: calc(6 / 7.68 * 1vw);
    font-size: calc(10 / 7.68 * 1vw);
    line-height: calc(13.6 / 7.68 * 1vw);
  }

  .basketWrapper {
    margin-top: calc(8 / 7.68 * 1vw);
    transition: all 4s linear;
  }

  .wideGap {
    width: calc(300 / 7.68 * 1vw);
  }

  .basketCard {
    padding: calc(11.5 / 7.68 * 1vw) 0;
    border-bottom: calc(1 / 7.68 * 1vw) solid #f2f2f3;
    border-top: calc(1 / 7.68 * 1vw) solid #f2f2f3;
  }

  .basketCard > div:first-child {
    gap: calc(6 / 7.68 * 1vw);
  }

  .basketCard > div:first-child > img {
    width: calc(64 / 7.68 * 1vw);
    height: calc(52 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
  }

  .productName {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .productMass {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
    margin-top: calc(1 / 7.68 * 1vw);
    margin-bottom: calc(6 / 7.68 * 1vw);
  }

  .productPrice {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .basketCard > div:last-child {
    padding: calc(7 / 7.68 * 1vw) calc(8 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
    gap: calc(19 / 7.68 * 1vw);
    height: calc(30 / 7.68 * 1vw);
  }

  .basketCard > div:last-child > button {
    width: calc(10 / 7.68 * 1vw);
  }

  .allPrice {
    margin-top: calc(13 / 7.68 * 1vw);
    margin-bottom: calc(19 / 7.68 * 1vw);
    display: none;
  }

  .allPrice > span:first-child {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .allPrice > span:last-child {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .buyButton {
    height: calc(30 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(12 / 7.68 * 1vw);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .delivery {
    margin-top: calc(8 / 7.68 * 1vw);
    gap: calc(8 / 7.68 * 1vw);
    display: none;
  }

  .delivery > img {
    width: calc(24 / 7.68 * 1vw);
    height: calc(24 / 7.68 * 1vw);
  }

  .delivery > p {
    font-size: calc(10 / 7.68 * 1vw);
    line-height: calc(13 / 7.68 * 1vw);
  }

  .empty {
    display: none;
  }

  .basketCard > button {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .basketCard > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }
}

@media only screen and (max-width: 320px) {
  .position {
    height: calc(48 / 3.2 * 1vw);
  }

  .closeBasket {
    right: calc(10 / 3.2 * 1vw) !important;
    font-size: calc(10 / 3.2 * 1vw) !important;
    line-height: calc(13.6 / 3.2 * 1vw) !important;
  }

  .basket {
    width: calc(300 / 3.2 * 1vw);
    padding-top: calc(16 / 3.2 * 1vw);
    padding-left: calc(10 / 3.2 * 1vw);
    padding-right: calc(10 / 3.2 * 1vw);
    padding-bottom: calc(16 / 3.2 * 1vw);
    border-radius: calc(12 / 3.2 * 1vw);
    margin-top: calc(0 / 3.2 * 1vw);
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px calc(10 / 3.2 * 1vw) 0px #00000029;
  }

  .basket > div:first-child {
    gap: calc(0 / 3.2 * 1vw);
  }

  .basket > div:first-child > h1 {
    font-size: calc(16 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .basket > div:first-child > p {
    padding: calc(1 / 3.2 * 1vw) calc(13 / 3.2 * 1vw);
    border-radius: calc(6 / 3.2 * 1vw);
    font-size: calc(10 / 3.2 * 1vw);
    line-height: calc(13.6 / 3.2 * 1vw);
  }

  .basketWrapper {
    margin-top: calc(8 / 3.2 * 1vw);
  }

  .wideGap {
    width: calc(300 / 3.2 * 1vw);
  }

  .basketCard {
    padding: calc(11.5 / 3.2 * 1vw) 0;
    border-bottom: calc(1 / 3.2 * 1vw) solid #f2f2f3;
    border-top: calc(1 / 3.2 * 1vw) solid #f2f2f3;
  }

  .basketCard > div:first-child {
    gap: calc(6 / 3.2 * 1vw);
  }

  .basketCard > div:first-child > img {
    width: calc(64 / 3.2 * 1vw);
    height: calc(52 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
  }

  .productName {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .productMass {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
    margin-top: calc(1 / 3.2 * 1vw);
    margin-bottom: calc(6 / 3.2 * 1vw);
  }

  .productPrice {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .basketCard > div:last-child {
    padding: calc(7 / 3.2 * 1vw) calc(8 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
    gap: calc(19 / 3.2 * 1vw);
    height: calc(30 / 3.2 * 1vw);
  }

  .basketCard > div:last-child > button {
    width: calc(10 / 3.2 * 1vw);
  }

  .allPrice {
    margin-top: calc(13 / 3.2 * 1vw);
    margin-bottom: calc(19 / 3.2 * 1vw);
    display: none;
  }

  .allPrice > span:first-child {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .allPrice > span:last-child {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .buyButton {
    height: calc(30 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(12 / 3.2 * 1vw);
  }

  .delivery {
    margin-top: calc(8 / 3.2 * 1vw);
    gap: calc(8 / 3.2 * 1vw);
  }

  .delivery > img {
    width: calc(24 / 3.2 * 1vw);
    height: calc(24 / 3.2 * 1vw);
  }

  .delivery > p {
    font-size: calc(10 / 3.2 * 1vw);
    line-height: calc(13 / 3.2 * 1vw);
  }

  .basketCard > button {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .basketCard > p {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }
}
