.confirm {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100vh;
}

.confirmWrapper {
  width: calc(684 / 14.4 * 1vw);
  height: auto;
  display: flex;
  border: none;
  border-radius: calc(24 / 14.4 * 1vw) !important;
  background-color: #f9f9f9;
  overflow: hidden;
}

.confirmWrapper > div {
  width: 50%;
}

.confirmWrapper > div:first-child {
  background-color: #ffab08;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmWrapper > div:first-child > img {
  width: calc(302 / 14.4 * 1vw);
  height: calc(302 / 14.4 * 1vw);
}

.userInfos {
  padding: calc(24 / 14.4 * 1vw);
}

.userInfos > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirmTitle {
  font-family: Nunito, sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(24 / 14.4 * 1vw);
}

.closeConfirm > img {
  width: calc(24 / 14.4 * 1vw);
  height: calc(24 / 14.4 * 1vw);
}

.closeConfirm {
  width: auto;
  border: none;
  background-color: inherit;
  margin-top: calc(-20 / 14.4 * 1vw);
}

.userInfoInputs {
  display: flex;
  flex-direction: column;
  gap: calc(8 / 14.4 * 1vw);
  margin-top: calc(16 / 14.4 * 1vw);
}

.userInfoInputs > input {
  height: calc(40 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  border: none;
  padding-left: calc(12 / 14.4 * 1vw);
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #b1b1b1;
}

.selectDelivery {
  display: flex;
  flex-direction: column;
  gap: calc(12 / 14.4 * 1vw);
  margin-top: calc(16 / 14.4 * 1vw);
}

.selectDelivery > label {
  display: flex;
  gap: calc(8 / 14.4 * 1vw);
  align-items: center;
}

.selectDelivery > label > input {
  width: calc(12 / 14.4 * 1vw);
  height: calc(12 / 14.4 * 1vw);
  border-radius: 50%;
}

.selectDelivery > label > p {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
}

.additionalData {
  display: flex;
  flex-direction: column;
  gap: calc(32 / 14.4 * 1vw);
  margin-top: calc(16 / 14.4 * 1vw);
}

.additionalData > div {
  display: flex;
  flex-wrap: wrap;
  gap: calc(8 / 14.4 * 1vw);
}

.additionalData > div > input {
  height: calc(40 / 14.4 * 1vw);
  border: none;
  border-radius: calc(12 / 14.4 * 1vw);
  padding-left: calc(12 / 14.4 * 1vw);
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #b1b1b1;
}

.additionalData > div > input::placeholder {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #b1b1b1;
}

.additionalData > div > input:first-child {
  width: 100%;
}

.additionalData > div > input:nth-child(2) {
  width: calc(143 / 14.4 * 1vw);
}

.additionalData > div > input:last-child {
  width: calc(143 / 14.4 * 1vw);
}

.confirmButton {
  width: 100%;
  height: calc(40 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  background-color: #ff7020;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: white;
  margin-top: calc(32 / 14.4 * 1vw);
}

@media only screen and (max-width: 1024px) {
  .confirmWrapper {
    width: calc(684 / 10.24 * 1vw);
    border-radius: calc(24 / 10.24 * 1vw) !important;
  }

  .confirmWrapper > div:first-child > img {
    width: calc(302 / 10.24 * 1vw);
    height: calc(302 / 10.24 * 1vw);
  }

  .userInfos {
    padding: calc(24 / 10.24 * 1vw);
  }

  .confirmTitle {
    font-size: calc(24 / 10.24 * 1vw);
    line-height: calc(24 / 10.24 * 1vw);
  }

  .closeConfirm > img {
    width: calc(24 / 10.24 * 1vw);
    height: calc(24 / 10.24 * 1vw);
  }

  .closeConfirm {
    margin-top: calc(-20 / 10.24 * 1vw);
  }

  .userInfoInputs {
    gap: calc(8 / 10.24 * 1vw);
    margin-top: calc(16 / 10.24 * 1vw);
  }

  .userInfoInputs > input {
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    padding-left: calc(12 / 10.24 * 1vw);
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .selectDelivery {
    gap: calc(12 / 10.24 * 1vw);
    margin-top: calc(16 / 10.24 * 1vw);
  }

  .selectDelivery > label {
    gap: calc(8 / 10.24 * 1vw);
  }

  .selectDelivery > label > input {
    width: calc(12 / 10.24 * 1vw);
    height: calc(12 / 10.24 * 1vw);
    border-radius: 50%;
  }

  .selectDelivery > label > p {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .additionalData {
    gap: calc(32 / 10.24 * 1vw);
    margin-top: calc(16 / 10.24 * 1vw);
  }

  .additionalData > div {
    gap: calc(8 / 10.24 * 1vw);
  }

  .additionalData > div > input {
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    padding-left: calc(12 / 10.24 * 1vw);
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .additionalData > div > input::placeholder {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .additionalData > div > input:nth-child(2) {
    width: calc(143 / 10.24 * 1vw);
  }

  .additionalData > div > input:last-child {
    width: calc(143 / 10.24 * 1vw);
  }

  .confirmButton {
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
    margin-top: calc(32 / 10.24 * 1vw);
  }
}

@media only screen and (max-width: 768px) {
  .confirmWrapper {
    width: calc(684 / 7.68 * 1vw);
    border-radius: calc(24 / 7.68 * 1vw) !important;
  }

  .confirmWrapper > div:first-child {
    display: none;
  }

  .confirmWrapper > div {
    width: 100%;
  }

  .confirmWrapper > div:first-child > img {
    width: calc(302 / 7.68 * 1vw);
    height: calc(302 / 7.68 * 1vw);
  }

  .userInfos {
    padding: calc(24 / 7.68 * 1vw);
  }

  .confirmTitle {
    font-size: calc(24 / 7.68 * 1vw);
    line-height: calc(24 / 7.68 * 1vw);
  }

  .closeConfirm > img {
    width: calc(24 / 7.68 * 1vw);
    height: calc(24 / 7.68 * 1vw);
  }

  .closeConfirm {
    margin-top: calc(-20 / 7.68 * 1vw);
  }

  .userInfoInputs {
    gap: calc(8 / 7.68 * 1vw);
    margin-top: calc(16 / 7.68 * 1vw);
  }

  .userInfoInputs > input {
    width: calc(300 / 7.68 * 1vw);
    height: calc(40 / 7.68 * 1vw);
    border-radius: calc(12 / 7.68 * 1vw);
    padding-left: calc(12 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .selectDelivery {
    gap: calc(12 / 7.68 * 1vw);
    margin-top: calc(16 / 7.68 * 1vw);
  }

  .selectDelivery > label {
    gap: calc(8 / 7.68 * 1vw);
  }

  .selectDelivery > label > input {
    width: calc(12 / 7.68 * 1vw);
    height: calc(12 / 7.68 * 1vw);
    border-radius: 50%;
  }

  .selectDelivery > label > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .additionalData {
    gap: calc(32 / 7.68 * 1vw);
    margin-top: calc(16 / 7.68 * 1vw);
  }

  .additionalData > div {
    gap: calc(8 / 7.68 * 1vw);
  }

  .additionalData > div > input {
    height: calc(40 / 7.68 * 1vw);
    border-radius: calc(12 / 7.68 * 1vw);
    padding-left: calc(12 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .additionalData > div > input:first-child {
    width: calc(294 / 7.68 * 1vw);
  }

  .additionalData > div > input::placeholder {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .additionalData > div > input:nth-child(2) {
    width: calc(143 / 7.68 * 1vw);
  }

  .additionalData > div > input:last-child {
    width: calc(143 / 7.68 * 1vw);
  }

  .confirmButton {
    height: calc(40 / 7.68 * 1vw);
    border-radius: calc(12 / 7.68 * 1vw);
    font-size: calc(16 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
    margin-top: calc(32 / 7.68 * 1vw);
  }
}

@media only screen and (max-width: 320px) {
  .confirmWrapper {
    width: 100%;
    height: 100%;
    border-radius: none;
  }

  .confirmWrapper > div:first-child > img {
    width: calc(302 / 3.2 * 1vw);
    height: calc(302 / 3.2 * 1vw);
  }

  .userInfos {
    padding: calc(32 / 3.2 * 1vw) calc(12 / 3.2 * 1vw);
  }

  .confirmTitle {
    font-size: calc(24 / 3.2 * 1vw);
    line-height: calc(24 / 3.2 * 1vw);
  }

  .closeConfirm > img {
    width: calc(24 / 3.2 * 1vw);
    height: calc(24 / 3.2 * 1vw);
  }

  .closeConfirm {
    margin-top: calc(-20 / 3.2 * 1vw);
  }

  .userInfoInputs {
    gap: calc(8 / 3.2 * 1vw);
    margin-top: calc(16 / 3.2 * 1vw);
  }

  .userInfoInputs > input {
    width: calc(300 / 3.2 * 1vw);
    height: calc(40 / 3.2 * 1vw);
    border-radius: calc(12 / 3.2 * 1vw);
    padding-left: calc(12 / 3.2 * 1vw);
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .selectDelivery {
    gap: calc(12 / 3.2 * 1vw);
    margin-top: calc(16 / 3.2 * 1vw);
  }

  .selectDelivery > label {
    gap: calc(8 / 3.2 * 1vw);
  }

  .selectDelivery > label > input {
    width: calc(12 / 3.2 * 1vw);
    height: calc(12 / 3.2 * 1vw);
    border-radius: 50%;
  }

  .selectDelivery > label > p {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .additionalData {
    gap: calc(32 / 3.2 * 1vw);
    margin-top: calc(16 / 3.2 * 1vw);
  }

  .additionalData > div {
    gap: calc(8 / 3.2 * 1vw);
  }

  .additionalData > div > input {
    height: calc(40 / 3.2 * 1vw);
    border-radius: calc(12 / 3.2 * 1vw);
    padding-left: calc(12 / 3.2 * 1vw);
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .additionalData > div > input:first-child {
    width: calc(294 / 3.2 * 1vw);
  }

  .additionalData > div > input::placeholder {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .additionalData > div > input:nth-child(2) {
    width: calc(143 / 3.2 * 1vw);
  }

  .additionalData > div > input:last-child {
    width: calc(143 / 3.2 * 1vw);
  }

  .confirmButton {
    height: calc(40 / 3.2 * 1vw);
    border-radius: calc(12 / 3.2 * 1vw);
    font-size: calc(16 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
    margin-top: calc(32 / 3.2 * 1vw);
  }
}
