.navbar {
  display: flex;
  gap: calc(24 / 14.4 * 1vw);
  justify-content: center;
  margin-top: calc(40 / 14.4 * 1vw);
}

.notSelected {
  background-color: #ffffff;
}

.navbar > div {
  display: flex;
  gap: calc(8 / 14.4 * 1vw);
  align-items: center;
  border: none;
  border-radius: calc(50 / 14.4 * 1vw);
  justify-content: center;
  padding: calc(9 / 14.4 * 1vw) calc(14 / 14.4 * 1vw);
  cursor: pointer;
}

.selected {
  background-color: #ffab08;
}

.navbar > div > p {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(22 / 14.4 * 1vw);
  color: black;
  display: flex;
  width: max-content;
}

.navbar > div > img {
  width: calc(24 / 14.4 * 1vw);
  height: calc(24 / 14.4 * 1vw);
}

@media only screen and (max-width: 1024px) {
  .navbar {
    gap: calc(24 / 10.24 * 1vw);
    margin-top: calc(40 / 10.24 * 1vw);
    overflow: hidden;
    justify-content: start;
    padding-left: calc(32 / 10.24 * 1vw);
  }

  .navbar > div {
    gap: calc(8 / 10.24 * 1vw);
    border-radius: calc(50 / 10.24 * 1vw);
    padding: calc(9 / 10.24 * 1vw) calc(14 / 10.24 * 1vw);
  }

  .navbar > div > p {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(22 / 10.24 * 1vw);
  }

  .navbar > div > img {
    width: calc(24 / 10.24 * 1vw);
    height: calc(24 / 10.24 * 1vw);
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    gap: calc(12 / 7.68 * 1vw);
    margin-top: calc(30 / 7.68 * 1vw);
    padding-left: calc(64 / 7.68 * 1vw);
  }

  .navbar > div {
    gap: calc(8 / 7.68 * 1vw);
    border-radius: calc(50 / 7.68 * 1vw);
    padding: calc(7 / 7.68 * 1vw) calc(8 / 7.68 * 1vw);
  }

  .navbar > div > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .navbar > div > img {
    width: calc(24 / 7.68 * 1vw);
    height: calc(24 / 7.68 * 1vw);
  }
}

@media only screen and (max-width: 320px) {
  .navbar {
    gap: calc(8 / 3.2 * 1vw);
    margin-top: calc(30 / 3.2 * 1vw);
    padding-left: calc(10 / 3.2 * 1vw);
  }

  .navbar > div {
    gap: calc(8 / 3.2 * 1vw);
    border-radius: calc(50 / 3.2 * 1vw);
    padding: calc(7 / 3.2 * 1vw) calc(8 / 3.2 * 1vw);
  }

  .navbar > div > p {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .navbar > div > img {
    width: calc(24 / 3.2 * 1vw);
    height: calc(24 / 3.2 * 1vw);
  }
}
