.productCardMain {
  width: calc(300 / 14.4 * 1vw);
  height: calc(411 / 14.4 * 1vw);
  background-color: white;
  border: none;
  border-radius: calc(18 / 14.4 * 1vw);
  padding: calc(12 / 14.4 * 1vw);
  transition: all 0.2s linear;
}

.productsWrapperMain {
  display: flex;
  gap: calc(30 / 14.4 * 1vw);
  flex-wrap: wrap;
}

.productCardMain > img {
  width: 100%;
  height: calc(220 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
}

.productPriceMain {
  font-family: Nunito, sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(24 / 14.4 * 1vw);
  color: black;
  margin-top: calc(16 / 14.4 * 1vw);
}

.productTitleMain {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(21 / 14.4 * 1vw);
  margin-top: calc(8 / 14.4 * 1vw);
  margin-bottom: calc(29 / 14.4 * 1vw);
}

.pageTitleMain {
  font-family: Nunito, sans-serif;
  font-size: calc(40 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(48 / 14.4 * 1vw);
  color: black;
  margin-bottom: calc(24 / 14.4 * 1vw);
}

.productMassMain {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(21 / 14.4 * 1vw);
  color: #b1b1b1;
}

.addButtonMain {
  width: 100%;
  height: calc(40 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  background-color: #f2f2f3;
  display: flex;
  justify-content: center;
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: black;
  align-items: center;
  border: none;
  margin-top: calc(8 / 14.4 * 1vw);
  overflow: hidden;
  position: relative;
}

.addButtonMain > span:first-child {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
}

.productCardMain:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 1024px) {
  .productCardMain {
    width: calc(300 / 10.24 * 1vw);
    height: calc(411 / 10.24 * 1vw);
    border-radius: calc(18 / 10.24 * 1vw);
    padding: calc(12 / 10.24 * 1vw);
  }

  .productsWrapperMain {
    gap: calc(30 / 10.24 * 1vw);
  }

  .productCardMain > img {
    width: 100%;
    height: calc(220 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
  }

  .productPriceMain {
    font-size: calc(24 / 10.24 * 1vw);
    line-height: calc(24 / 10.24 * 1vw);
    margin-top: calc(16 / 10.24 * 1vw);
  }

  .productTitleMain {
    font-family: Nunito, sans-serif;
    font-size: calc(16 / 10.24 * 1vw);
    font-weight: 400;
    line-height: calc(21 / 10.24 * 1vw);
    margin-top: calc(8 / 10.24 * 1vw);
    margin-bottom: calc(29 / 10.24 * 1vw);
  }

  .pageTitleMain {
    font-family: Nunito, sans-serif;
    font-size: calc(40 / 10.24 * 1vw);
    font-weight: 600;
    line-height: calc(48 / 10.24 * 1vw);
    color: black;
    margin-bottom: calc(24 / 10.24 * 1vw);
  }

  .productMassMain {
    font-family: Nunito, sans-serif;
    font-size: calc(16 / 10.24 * 1vw);
    font-weight: 600;
    line-height: calc(21 / 10.24 * 1vw);
    color: #b1b1b1;
  }

  .addButtonMain {
    width: 100%;
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    background-color: #f2f2f3;
    display: flex;
    justify-content: center;
    font-family: Nunito, sans-serif;
    font-size: calc(16 / 10.24 * 1vw);
    font-weight: 400;
    line-height: calc(16 / 10.24 * 1vw);
    color: black;
    align-items: center;
    border: none;
    margin-top: calc(8 / 10.24 * 1vw);
    overflow: hidden;
    position: relative;
  }

  .addButtonMain > span:first-child {
    font-family: Nunito, sans-serif;
    font-size: calc(16 / 10.24 * 1vw);
    font-weight: 400;
    line-height: calc(16 / 10.24 * 1vw);
  }

  .productCardMain:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 768px) {
  .productCardMain {
    width: calc(145 / 7.68 * 1vw);
    /* height: calc(243 / 7.68 * 1vw); */
    height: auto;
    border-radius: calc(12 / 7.68 * 1vw);
    padding: calc(4 / 7.68 * 1vw);
  }

  .productsWrapperMain {
    gap: calc(20 / 7.68 * 1vw);
  }

  .productCardMain > img {
    width: 100%;
    height: calc(120 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
  }

  .productPriceMain {
    font-size: calc(16 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
    margin-top: calc(10 / 7.68 * 1vw);
  }

  .productTitleMain {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
    margin-top: calc(4 / 7.68 * 1vw);
    margin-bottom: calc(16 / 7.68 * 1vw);
  }

  .pageTitleMain {
    font-size: calc(28 / 7.68 * 1vw);
    line-height: calc(33 / 7.68 * 1vw);
    margin-bottom: calc(0 / 7.68 * 1vw);
  }

  .productMassMain {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .addButtonMain {
    width: 100%;
    height: calc(30 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(18 / 7.68 * 1vw);
    margin-top: calc(7 / 7.68 * 1vw);
  }

  .addButtonMain > span:first-child {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(18 / 7.68 * 1vw);
  }

  .productCardMain:hover {
    transform: scale(1.1);
  }
}

@media only screen and (max-width: 320px) {
  .productCardMain {
    width: calc(145 / 3.2 * 1vw);
    height: auto;
    border-radius: calc(12 / 3.2 * 1vw);
    padding: calc(4 / 3.2 * 1vw);
  }

  .productsWrapperMain {
    gap: calc(10 / 3.2 * 1vw);
  }

  .productCardMain > img {
    width: 100%;
    height: calc(120 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
  }

  .productPriceMain {
    font-size: calc(16 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
    margin-top: calc(10 / 3.2 * 1vw);
  }

  .productTitleMain {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
    margin-top: calc(4 / 3.2 * 1vw);
    margin-bottom: calc(16 / 3.2 * 1vw);
  }

  .pageTitleMain {
    font-size: calc(28 / 3.2 * 1vw);
    line-height: calc(33 / 3.2 * 1vw);
    margin-bottom: calc(0 / 3.2 * 1vw);
  }

  .productMassMain {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .addButtonMain {
    width: 100%;
    height: calc(30 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(18 / 3.2 * 1vw);
    margin-top: calc(7 / 3.2 * 1vw);
  }

  .addButtonMain > span:first-child {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(18 / 3.2 * 1vw);
  }

  .productCardMain:hover {
    transform: scale(1.1);
  }
}
