.show1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.454);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}

.show {
  width: calc(684 / 14.4 * 1vw);
  height: auto;
  padding: calc(24 / 14.4 * 1vw);
  border-radius: calc(24 / 14.4 * 1vw);
  background-color: white;
}

.show > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showTitle {
  font-family: Nunito, sans-serif;
  font-size: calc(40 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(48 / 14.4 * 1vw);
}

.showClose {
  border: none;
  padding: calc(5 / 14.4 * 1vw);
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(-10 / 14.4 * 1vw);
}

.showClose > img {
  width: calc(24 / 14.4 * 1vw);
  height: calc(24 / 14.4 * 1vw);
}

.showWrapper {
  display: flex;
  gap: calc(16 / 14.4 * 1vw);
  margin-top: calc(24 / 14.4 * 1vw);
  margin-bottom: calc(40 / 14.4 * 1vw);
}

.showWrapper > img {
  width: calc(276 / 14.4 * 1vw);
  height: calc(220 / 14.4 * 1vw);
}

.showInfo > p:first-child {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(21 / 14.4 * 1vw);
}

.showInfo > p:nth-child(2) {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(16 / 14.4 * 1vw);
  margin-top: calc(10 / 14.4 * 1vw);
}

.showInfo > p:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: calc(2 / 14.4 * 1vw);
  margin-top: calc(4 / 14.4 * 1vw);
  margin-bottom: calc(4 / 14.4 * 1vw);
}

.showInfo > p:nth-child(3) > span {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
}

.showInfo > p:last-child {
  font-family: Nunito, sans-serif;
  font-size: calc(12 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  color: #b1b1b1;
}

.showForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showForm > div {
  display: flex;
  gap: calc(16 / 14.4 * 1vw);
}

.showAddButton {
  width: calc(276 / 14.4 * 1vw);
  height: calc(40 / 14.4 * 1vw);
  border-radius: calc(12 / 14.4 * 1vw);
  border: none;
  background-color: #ff7020;
  color: white;
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(16 / 14.4 * 1vw);
  text-align: center;
}

.addMinusButton {
  display: flex;
  gap: calc(18 / 14.4 * 1vw);
  padding: calc(9 / 14.4 * 1vw) calc(12 / 14.4 * 1vw);
  background-color: #f2f2f3;
  border: none;
  border-radius: calc(12 / 14.4 * 1vw);
}

.addMinusButton > button {
  padding: calc(5 / 14.4 * 1vw);
  border: none;
  height: 100%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(22 / 14.4 * 1vw);
}

.addMinusButton > p {
  font-family: Nunito, sans-serif;
  font-size: calc(16 / 14.4 * 1vw);
  font-weight: 400;
  line-height: calc(22 / 14.4 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showPrice {
  font-family: Nunito, sans-serif;
  font-size: calc(24 / 14.4 * 1vw);
  font-weight: 600;
  line-height: calc(31 / 14.4 * 1vw);
}

@media only screen and (max-width: 1024px) {
  .show1 {
    width: 100vw;
    height: 100vh;
  }

  .show {
    width: calc(684 / 10.24 * 1vw);
    padding: calc(24 / 10.24 * 1vw);
    border-radius: calc(24 / 10.24 * 1vw);
  }

  .showTitle {
    font-size: calc(40 / 10.24 * 1vw);
    line-height: calc(48 / 10.24 * 1vw);
  }

  .showClose {
    padding: calc(5 / 10.24 * 1vw);
    margin-top: calc(-10 / 10.24 * 1vw);
  }

  .showClose > img {
    width: calc(24 / 10.24 * 1vw);
    height: calc(24 / 10.24 * 1vw);
  }

  .showWrapper {
    gap: calc(16 / 10.24 * 1vw);
    margin-top: calc(24 / 10.24 * 1vw);
    margin-bottom: calc(40 / 10.24 * 1vw);
  }

  .showWrapper > img {
    width: calc(276 / 10.24 * 1vw);
    height: calc(220 / 10.24 * 1vw);
  }

  .showInfo > p:first-child {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(21 / 10.24 * 1vw);
  }

  .showInfo > p:nth-child(2) {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
    margin-top: calc(10 / 10.24 * 1vw);
  }

  .showInfo > p:nth-child(3) {
    gap: calc(2 / 10.24 * 1vw);
    margin-top: calc(4 / 10.24 * 1vw);
    margin-bottom: calc(4 / 10.24 * 1vw);
  }

  .showInfo > p:nth-child(3) > span {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .showInfo > p:last-child {
    font-size: calc(12 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .showForm > div {
    gap: calc(16 / 10.24 * 1vw);
  }

  .showAddButton {
    width: calc(276 / 10.24 * 1vw);
    height: calc(40 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(16 / 10.24 * 1vw);
  }

  .addMinusButton {
    gap: calc(18 / 10.24 * 1vw);
    padding: calc(9 / 10.24 * 1vw) calc(12 / 10.24 * 1vw);
    border-radius: calc(12 / 10.24 * 1vw);
  }

  .addMinusButton > button {
    padding: calc(5 / 10.24 * 1vw);
    font-family: Nunito, sans-serif;
    font-size: calc(16 / 10.24 * 1vw);
    font-weight: 400;
    line-height: calc(22 / 10.24 * 1vw);
  }

  .addMinusButton > p {
    font-size: calc(16 / 10.24 * 1vw);
    line-height: calc(22 / 10.24 * 1vw);
  }

  .showPrice {
    font-size: calc(24 / 10.24 * 1vw);
    line-height: calc(31 / 10.24 * 1vw);
  }
}

@media only screen and (max-width: 768px) {
  .show1 {
    width: 100vw;
    height: 100vh;
  }

  .show {
    width: calc(524 / 7.68 * 1vw);
    padding: calc(16 / 7.68 * 1vw);
    border-radius: calc(24 / 7.68 * 1vw);
  }

  .showTitle {
    font-size: calc(28 / 7.68 * 1vw);
    line-height: calc(34 / 7.68 * 1vw);
  }

  .showClose {
    padding: calc(5 / 7.68 * 1vw);
    margin-top: calc(-10 / 7.68 * 1vw);
  }

  .showClose > img {
    width: calc(24 / 7.68 * 1vw);
    height: calc(24 / 7.68 * 1vw);
  }

  .showWrapper {
    gap: calc(8 / 7.68 * 1vw);
    margin-top: calc(16 / 7.68 * 1vw);
    margin-bottom: calc(24 / 7.68 * 1vw);
  }

  .showWrapper > img {
    width: calc(226 / 7.68 * 1vw);
    height: calc(180 / 7.68 * 1vw);
  }

  .showInfo > p:first-child {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .showInfo > p:nth-child(2) {
    font-size: calc(10 / 7.68 * 1vw);
    line-height: calc(13 / 7.68 * 1vw);
    margin-top: calc(10 / 7.68 * 1vw);
  }

  .showInfo > p:nth-child(3) {
    gap: calc(2 / 7.68 * 1vw);
    margin-top: calc(4 / 7.68 * 1vw);
    margin-bottom: calc(4 / 7.68 * 1vw);
  }

  .showInfo > p:nth-child(3) > span {
    font-size: calc(10 / 7.68 * 1vw);
    line-height: calc(13 / 7.68 * 1vw);
  }

  .showInfo > p:last-child {
    font-size: calc(10 / 7.68 * 1vw);
    line-height: calc(13 / 7.68 * 1vw);
  }

  .showForm > div {
    gap: calc(8 / 7.68 * 1vw);
  }

  .showAddButton {
    width: calc(218 / 7.68 * 1vw);
    height: calc(30 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(12 / 7.68 * 1vw);
  }

  .addMinusButton {
    gap: calc(19 / 7.68 * 1vw);
    padding: calc(7 / 7.68 * 1vw) calc(8 / 7.68 * 1vw);
    border-radius: calc(8 / 7.68 * 1vw);
  }

  .addMinusButton > button {
    padding: calc(5 / 7.68 * 1vw);
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .addMinusButton > p {
    font-size: calc(12 / 7.68 * 1vw);
    line-height: calc(16 / 7.68 * 1vw);
  }

  .showPrice {
    font-size: calc(16 / 7.68 * 1vw);
    line-height: calc(20 / 7.68 * 1vw);
  }
}

@media only screen and (max-width: 320px) {
  .show1 {
    width: 100vw;
    height: 100vh;
    align-items: start;
  }

  .show {
    width: 100%;
    padding: calc(10 / 3.2 * 1vw);
    padding-bottom: calc(32 / 3.2 * 1vw);
    padding-top: calc(32 / 3.2 * 1vw);
    border-radius: calc(0 / 3.2 * 1vw);
  }

  .showTitle {
    font-size: calc(28 / 3.2 * 1vw);
    line-height: calc(34 / 3.2 * 1vw);
  }

  .showClose {
    padding: calc(5 / 3.2 * 1vw);
    margin-top: calc(-35 / 3.2 * 1vw);
  }

  .showClose > img {
    width: calc(24 / 3.2 * 1vw);
    height: calc(24 / 3.2 * 1vw);
  }

  .showWrapper {
    gap: calc(8 / 3.2 * 1vw);
    margin-top: calc(16 / 3.2 * 1vw);
    margin-bottom: calc(24 / 3.2 * 1vw);
    flex-direction: column;
  }

  .showWrapper > img {
    width: calc(300 / 3.2 * 1vw);
    height: calc(232 / 3.2 * 1vw);
  }

  .showInfo > p:first-child {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .showInfo > p:nth-child(2) {
    font-size: calc(10 / 3.2 * 1vw);
    line-height: calc(13 / 3.2 * 1vw);
    margin-top: calc(10 / 3.2 * 1vw);
  }

  .showInfo > p:nth-child(3) {
    gap: calc(2 / 3.2 * 1vw);
    margin-top: calc(4 / 3.2 * 1vw);
    margin-bottom: calc(4 / 3.2 * 1vw);
  }

  .showInfo > p:nth-child(3) > span {
    font-size: calc(10 / 3.2 * 1vw);
    line-height: calc(13 / 3.2 * 1vw);
  }

  .showInfo > p:last-child {
    font-size: calc(10 / 3.2 * 1vw);
    line-height: calc(13 / 3.2 * 1vw);
  }

  .showForm > div {
    gap: calc(8 / 3.2 * 1vw);
    height: calc(30 / 3.2 * 1vw);
  }

  .showForm {
    flex-direction: column;
    margin-top: calc(98 / 3.2 * 1vw);
  }

  .showAddButton {
    width: calc(218 / 3.2 * 1vw);
    height: 100%;
    border-radius: calc(8 / 3.2 * 1vw);
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(12 / 3.2 * 1vw);
  }

  .addMinusButton {
    gap: calc(19 / 3.2 * 1vw);
    padding: calc(7 / 3.2 * 1vw) calc(8 / 3.2 * 1vw);
    border-radius: calc(8 / 3.2 * 1vw);
    height: 100%;
  }

  .addMinusButton > button {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .addMinusButton > p {
    font-size: calc(12 / 3.2 * 1vw);
    line-height: calc(16 / 3.2 * 1vw);
  }

  .showPrice {
    font-size: calc(16 / 3.2 * 1vw);
    line-height: calc(21 / 3.2 * 1vw);
    width: 100%;
    display: flex;
    justify-content: end;
    text-align: end;
    margin-top: calc(16 / 3.2 * 1vw);
  }
}
