@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
}

main {
  display: flex;
  padding: 0 calc(75 / 14.4 * 1vw);
  width: 100%;
  margin-top: calc(50 / 14.4 * 1vw);
  gap: calc(30 / 14.4 * 1vw);
}
